/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--font-main);
  font-variation-settings: 'wght' var(--fw-card-text);
  background-image: var(--page-background);
  block-size: cover;
  background-attachment: fixed;
}

.container {
  width: var(--header-width);
  margin: 0 auto;
}

.header {
  height: 327px;
  background-color: #fff;
  margin-top: 100px;
  margin-bottom: 100px;
  border: 2px solid black;
}

.header__tittle {
  font-size: clamp(49px, 5vw, 65px);
  font-family: var(--font-accent);
  padding-top: 122px;
  padding-bottom: 20px;
  text-align: center;
}

.header__subtittle {
  font-size: clamp(14px, 5vw, 23px);
  font-family: var(--font-accent);
  text-align: center;
}

.main__list {
  display: grid;
  gap: 52px;
  margin-bottom: 50px;
}

.card {
  background-color: #fff;
  border: 2px solid black;
  display: flex;
  flex-direction: column;
}

.card__tittle {
  font-size: 18px;
  font-variation-settings: 'wght' var(--fw-card-title);
  padding: 4px 10px;
}

.card__text {
  font-size: 18px;
  padding: 25px;
}

.card__text-2 {
  padding-top: 0;
  text-align: left;
}

.card__buttons {
  display: flex;
  justify-content: flex-end;
  gap: 12px;
  padding-bottom: 25px;
  padding-right: 25px;
}

.card__icon-button {
  background: none;
  border: none;
  cursor: pointer;
}

.card__like-button {
  background-color: #fff;
  border: 2px solid #000;
  padding: 12px 37px;
  font-family: var(--font-accent);
  cursor: pointer;
  font-size: 14px;
}

.card__img {
  width: 100%;
  object-fit: cover;
  aspect-ratio: 1;
}

.card-img-container {
  position: relative;
}

.label {
  position: absolute;
  top: 25px;
  right: 25px;
  font-family: var(--font-accent);
  font-size: 14px;
  mix-blend-mode: hard-light;
  color: #000000;
  opacity: 0.5;
  letter-spacing: 1px;
  line-height: 100%;
}

@supports (-webkit-text-stroke: 1px var(--label-stroke-color)) {
  .label {
    -webkit-text-stroke: 1px var(--label-stroke-color);
  }
}

@supports not (-webkit-text-stroke: 1px var(--label-stroke-color)) {
  .label {
    text-shadow:     -1px -1px 0 var(--label-stroke-color),
      1px -1px 0 var(--label-stroke-color),
      -1px 1px 0 var(--label-stroke-color),
      1px 1px 0 var(--label-stroke-color);
  }
}

.button-wrapper {
  display: flex;
  justify-content: center;
}

.button-footer {
  margin-bottom: 100px;
  padding: 53px 20px 17px 20px;
  position: relative;

  @media (width >= 375px) {
    width: 338px;
    height: 50px;
    padding: 0;
    padding-left: 29px;
  }
}

.floppy {
  width: 27px;
  height: 27px;
  position: absolute;
  top: 14px;
  left: 45%;

  @media (width >= 375px) {
    width: 21px;
    height: 21px;
    top: 12px;
    left: 18px;
  }
}

.modal[open] {
  display: flex;
}

.modal::backdrop {
  background-color: rgb(0 0 0 / 0.3);
  backdrop-filter: blur(7px);
} 